@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}
.rec.rec-arrow {
  background-color: transparent;
  box-shadow: none;
  color: rgb(221, 221, 221);
}
.rec.rec-arrow:focus {
  background-color: transparent;
  box-shadow: none;
  color: white;
}
.rec.rec-arrow:hover {
  background-color: none;
  box-shadow: none;
  color: white;
}
