@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-behavior: smooth;
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #03020000;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100vh;
    border: 5px solid #302727;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
  }
}
.last-child:last-child {
  .line {
    border: none;
  }
}
.unfold_chronology {
  transition: max-height 0.1s ease;
  position: relative;
  max-height: 600px;
}
.unfold_chronology__active {
  transition: max-height 0.1s ease;
  max-height: 100%;
}

.unfold_chronology::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(48, 39, 39, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio_preview {
  cursor: pointer;
  width: 80%;
  transition: transform 0.2s ease;
  border-radius: 8px;
}
.portfolio_preview:hover {
  transform: scale(0.99, 0.99);
}
.case_opacity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background-color: #000000c5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
}

.case_image {
  margin-top: -1px;
  width: 70%;
  height: auto;
}

.case_close {
  transition: opacity 0.2s ease;
  cursor: pointer;
  border-radius: 20px;
  background: white;
  opacity: 0.7;
  right: 40px;
  position: fixed;
}
.case_close:hover {
  opacity: 0.5;
}
.case_close:active {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .portfolio_preview {
    width: 90%;
  }
  .case_opacity {
    padding: 60px 0;
  }
  .case_image {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .case_opacity {
    padding: 40px 10px;
  }
  .case_image {
    width: 100%;
  }

  .case_close {
    width: 20px;
    right: 14px;
    top: 8px;
  }
}

.active_scroll_el {
  background: rgba(255, 0, 0, 0.137);
}
